

.App-header {
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box{
  max-width: 400px;
  overflow: hidden;
}

img{
  width: 100%;
    object-fit: contain;
}